extends layout

block content
  h1= title
  strong= description
  p
    | Sources are on GitHub: 
    a(href="https://github.com/ChrisRus/onmexpresstest0", title="https://github.com/ChrisRus/onmexpresstest0")
     | ChrisRus/onmexpresstest0
  p This is a test application for experimenting with node.js, Express, and Object Namespace Manager (onm).
  p This HTML page is only for documentation purposes. Access to the applciation is via the following
    | web API's:
  h2 API
  p Access to this server is via HTTP methods.

  h3 GET host:1031/meta

  h3 GET host:1031/models

  h3 GET host:1031/stores

  h3 GET host:1031/store/addresses/:store

  h3 GET host:1013/store/addresses/:store/:address

  h3 GET host:1031/store/data/:store

  h3 GET host:1031/store/data/:store/:address

  h3 POST host:1031:/store/create/:model

  h3 POST host:1031/store/data/:store/:address

  h3 POST host:1031/store/data/:store/:address/:data

  h3 DELETE host:1031/stores

  h3 DELETE host:1031/store/:store

  h3 DELETE host:1031/store/:store/:address


  


  








